<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" lang="pl">
<head th:replace="sheared/header:: header"/>
<body id="page-top">
<div th:replace="admin/adminFragments/adminNav:: topNav"/>
<div id="wrapper">
    <div th:replace="admin/adminFragments/adminSidebar:: sidebar"/>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div th:replace="admin/adminFragments/adminDepartmentCard:: adminDepartmentCard"/>
            <div th:replace="admin/adminFragments/minimumTable:: minimumTable"/>
        </div>
    </div>
    <div th:replace="admin/adminFragments/editMinimumModal:: editMinimumModal"></div>
</div>
<div th:replace="admin/adminFragments/adminFooter:: adminFooter"></div>
<div th:replace="admin/adminFragments/scrollUp::scrollToUp"></div>
<div th:replace="admin/adminFragments/adminLogoutModal:: adminLogout"></div>
<div th:replace="sheared/scripts:: script"></div>
</body>
<script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
<script type="text/javascript" src="/js/vendor/minimum.js"></script>
</html>