<div th:fragment="adminLogout">
    <div class="myModal">
        <div class="modal" tabindex="-1" id="myLogoutModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Logout</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Do you want log out?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" href="/logout">Log out</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>