<div th:fragment="sidebar" class="sidebar">
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/welcome">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span class="navbar-brand m" >Admin Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/welcome"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-user"></i>
                <span>Users</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/department"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-book"></i>
                <span>Department</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/minimum"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>Programs</span>
            </a>
        </li>
    </ul>
</div>