<div th:fragment="editMinimumModal">
        <div class="myMinimum">
            <form id="minimumModal" v-on:submit="sendMinimumToServer">
                <div class="modal fade"  id="minModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit program</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="departmentID">Wydział</label>
                                        </div>
                                        <select class="custom-select" id="departmentID" v-model="departmentId">
                                            <option selected>Choose option</option>
                                            <option  th:each="operator : ${departments}"
                                                    th:value="${operator.idDepartment}"
                                                    th:text="${operator.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="idMin" class="col-form-label">ID:</label>
                                    <input type="text" v-model="idMin" class="form-control" id="idMin"
                                           value="" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="major" class="col-form-label">Major:</label>
                                    <input type="text" v-model="major" class="form-control" id="major"
                                           value="" required/>
                                </div>
                                <div class="form-group">
                                    <label for="level" class="col-form-label">Level:</label>
                                    <input type="text" v-model="level" class="form-control" id="level"
                                           value="" required/>
                                </div>
                                <div class="form-group">
                                    <label for="note" class="col-form-label">Note:</label>
                                    <textarea class="form-control" v-model="note" id="note"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" value="Close" class="btn btn-secondary" data-dismiss="modal"/>
                                <input type="submit" value="Edit" id="minSubmit"  class="btn btn-primary"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>
