<div th:fragment="minimumTable">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Programs
        </div>
        <div class="card-header">
            <button class="btn btn-primary" id="minBnt" onclick="openModal()">Add program</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Acronym</th>
                        <th>Department</th>
                        <th>Major</th>
                        <th>Level</th>
                        <th>Note</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <th>#</th>
                    <th>Acronym</th>
                    <th>Department</th>
                    <th>Major</th>
                    <th>Level</th>
                    <th>Note</th>
                    <th>Action</th>
                    </tfoot>
                    <tbody>
                    <tr th:each="min,iterator : ${minimum}">
                        <td th:text="${iterator.index+1}"></td>
                        <td th:text="${min.getDepartmentByDepertmentId().getAkronim().toUpperCase()}"></td>
                        <td th:text="${min.getDepartmentByDepertmentId().getName()}"></td>
                        <td th:text="${min.getMajor()}"></td>
                        <td th:text="${min.getLevel()}"></td>
                        <td th:text="${min.getNote()}"></td>
                        <td>
                            <div class="row">
                                <a class="btn btn-primary mBtn" v-on:click="getDataFromServer"
                                   th:href="@{api/v1/minimum(id=${min.idMin})}" th:text="Edit"></a>
                                <a class="btn btn-danger" th:text="Delete"></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
