<th:block th:fragment="scripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script type="text/javascript" src="/js/demo/datatables-demo.js"></script>
    <script type="text/javascript" src="/js/vendor/modal.js"></script>
</th:block>


