<th:block th:fragment="scripts">
    <script type="text/javascript" src="/webjars/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script type="text/javascript" src="/js/demo/datatables-demo.js"></script>
    <script type="text/javascript" src="/js/vendor/modal.js"></script>
    <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
</th:block>


