<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" lang="pl">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <table class="table table-bordered" width="100%">
        <thead>
        <tr>
            <th>Wydzia</th>
            <th>kierunek</th>
            <th>moduł</th>
            <th>Kod USOS</th>
            <th>ects</th>
            <th>w</th>
            <th>cz</th>
            <th>grupa</th>
            <th>prowadzący</th>
            <th>warunki zaliczenia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="plan:${plans}">
            <td>${plan.getDepartment()}</td>
            <td>${plan.getMajor()}</td>
            <td>${plan.getSubjectName()}</td>
            <td>${plan.getCode()}</td>
            <td>${plan.getEcts()}</td>
            <td>${plan.getPractics()}</td>
            <td>${plan.getClassRom()}</td>
            <td>${plan.getGroup()}</td>
            <td>${plan.getTeacher()}</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
