<!DOCTYPE html>
<html lang="pl" xml:lang="pl" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>Plan generator</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            border-color: black;
        }

        td, th {
            cursor: pointer;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="lead-form">
                    <h1 class="text-center">Search subjects</h1>
                    <hr/>
                    <input width="100%" type="text" class="form-control" placeholder="Name of subject or code"
                           v-model="courses">
                    <hr/>
                    <div class="row">
                        <div class="col-12">
                            <table width="100%" class="table-bordered">
                                <tr>
                                    <th class="fa-1x">Department</th>
                                    <th>Subject</th>
                                    <th>Code USOS</th>
                                    <th>Ects</th>
                                </tr>
                                <tr id="tableRow" v-for="one in resultOfSearching"
                                    v-on:click="addrow(one)">
                                    <td>{{one.facId}}</td>
                                    <td>{{one.name.pl}}</td>
                                    <td>{{one.courseId}}</td>
                                    <td>{{one.ectsCreditsSimplified}}</td>
                                </tr>
                            </table>
                        </div>

                    </div><!-- end of .lead-form -->
                </div> <!-- end of .col-md-6.col-md-offset-3 -->
            </div> <!-- end of .row -->
        </div>
        <hr/>
        <br>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive" id="newTable">
                    <table class="table table-bordered" id="plantable" width="100%">
                        <tr>
                            <th>Department</th>
                            <th>Subject</th>
                            <th>Code usos</th>
                            <th>Ects</th>
                            <th>Delete</th>
                        </tr>

                        <tr id="przedmioty" v-for="(item,index)  in przedmioty" :key="index" :row="item">
                            <td>{{item.facId}}</td>
                            <td>{{item.name.pl}}</td>
                            <td>{{item.courseId}}</td>
                            <td>{{item.ectsCreditsSimplified}}</td>
                            <td>
                                <button type="button" v-on:click="deleteRow(index)">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <button type="button" v-on:click="sendSubject">Export to Excel</button>
    </div>
</div>
</body>

<script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            sum: 0,
            courses: '',
            faculty: '',
            resultOfSearching: '',
            przedmioty: [],
        },
        watch: {
            courses: function () {
                if (this.courses) {
                    this.lookupCourse();
                }
            }
        },
        methods: {
            lookupCourse: _.debounce(function () {
                axios.get('http://localhost:8080/name/' + app.courses)
                    .then(function (response) {

                        app.resultOfSearching = response.data.List;


                    })
                    .catch(function (error) {
                        app.resultOfSearching = "Nie ma takiego przedmiotu";
                    })
            }, 500),
            addrow: _.debounce(function (one) {
                this.przedmioty.push(one);
            }, 500),
            deleteRow: _.debounce(function (one) {
                console.log("Remowing ....", one);
                this.przedmioty.splice(this.przedmioty.indexOf(one), 1);
            }, 500),
            sendSubject: _.debounce(function () {
                console.log(JSON.stringify(this.przedmioty));
                axios.post("http://localhost:8080/send", JSON.stringify(this.przedmioty), {
                    headers: {
                        'Content-type': 'application/json',
                    }
                })
                    .then(function (response) {
                        console.log(response);
                        window.location.href = '/form/?type=xls'
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            })
        }
    })
</script>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</html>